<section class="section hero">
    <div class="container">
        <header class="header">
            <div class="header__logo"><a class="logo" href="#"><img class="logo__icon" src="../../web/img/icons/logo.svg"></a></div>
            <div class="header__menu">
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item"><a class="nav__link" href="1">о нас</a>
                        </li>
                        <li class="nav__item"><a class="nav__link" href="2">бургеры</a>
                        </li>
                        <li class="nav__item"><a class="nav__link" href="3">команда</a>
                        </li>
                        <li class="nav__item"><a class="nav__link" href="4">меню</a>
                        </li>
                        <li class="nav__item"><a class="nav__link" href="5">отзывы</a>
                        </li>
                        <li class="nav__item"><a class="nav__link" href="7">контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__links"><a class="order-link btn" href="6">Заказать</a><a class="hamburger-menu-link" href="">
                    <div class="hamburger-menu-link__bars"></div></a></div>
        </header>
        <div class="hero__container">
            <div class="hero__content">
                <div class="hero__left"><img class="hero__img" src="../../web/img/content/burger.png" alt=""></div>
                <div class="hero__right">
                    <div class="section__title">Мы делаем</div>
                    <div class="hero__desc">Натуральные бургеры</div>
                </div>
            </div>
        </div>
    </div>
</section>
