<section class="section reviews">
    <ul class="reviews__list">
        <li class="reviews__item">
            <div class="review">
                <div class="review__photo" style="background-image: url('../../web/img/content/reviews/1.jpg');"></div>
                <div class="review__hover">
                    <div class="review__title">Константин Спилберг</div>
                    <div class="review__shorttext">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
                    <div class="review__button-wrap"><a class="review__view" href="#full-review">Подробнее</a></div>
                </div>
            </div>
        </li>
        <li class="reviews__item">
            <div class="review">
                <div class="review__photo" style="background-image: url('../../web/img/content/reviews/2.jpg');"></div>
                <div class="review__hover">
                    <div class="review__title">Константин Спилберг</div>
                    <div class="review__shorttext">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
                    <div class="review__button-wrap"><a class="review__view" href="#full-review">Подробнее</a></div>
                </div>
            </div>
        </li>
        <li class="reviews__item">
            <div class="review">
                <div class="review__photo" style="background-image: url('../../web/img/content/reviews/3.jpg');"></div>
                <div class="review__hover">
                    <div class="review__title">Константин Спилберг</div>
                    <div class="review__shorttext">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
                    <div class="review__button-wrap"><a class="review__view" href="#full-review">Подробнее</a></div>
                </div>
            </div>
        </li>
        <li class="reviews__item">
            <div class="review">
                <div class="review__photo" style="background-image: url('../../web/img/content/reviews/4.jpg');"></div>
                <div class="review__hover">
                    <div class="review__title">Константин Спилберг</div>
                    <div class="review__shorttext">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
                    <div class="review__button-wrap"><a class="review__view" href="#full-review">Подробнее</a></div>
                </div>
            </div>
        </li>
        <li class="reviews__item">
            <div class="review">
                <div class="review__photo" style="background-image: url('../../web/img/content/reviews/5.jpg');"></div>
                <div class="review__hover">
                    <div class="review__title">Константин Спилберг</div>
                    <div class="review__shorttext">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
                    <div class="review__button-wrap"><a class="review__view" href="#full-review">Подробнее</a></div>
                </div>
            </div>
        </li>
        <li class="reviews__item">
            <div class="review">
                <div class="review__photo" style="background-image: url('../../web/img/content/reviews/6.jpg');"></div>
                <div class="review__hover">
                    <div class="review__title">Константин Спилберг</div>
                    <div class="review__shorttext">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
                    <div class="review__button-wrap"><a class="review__view" href="#full-review">Подробнее</a></div>
                </div>
            </div>
        </li>
        <li class="reviews__item">
            <div class="review">
                <div class="review__photo" style="background-image: url('../../web/img/content/reviews/7.jpg');"></div>
                <div class="review__hover">
                    <div class="review__title">Константин Спилберг</div>
                    <div class="review__shorttext">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
                    <div class="review__button-wrap"><a class="review__view" href="#full-review">Подробнее</a></div>
                </div>
            </div>
        </li>
        <li class="reviews__item">
            <div class="review">
                <div class="review__photo" style="background-image: url('../../web/img/content/reviews/8.jpg');"></div>
                <div class="review__hover">
                    <div class="review__title">Константин Спилберг</div>
                    <div class="review__shorttext">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
                    <div class="review__button-wrap"><a class="review__view" href="#full-review">Подробнее</a></div>
                </div>
            </div>
        </li>
    </ul>
</section>
