<section class="section team">
    <div class="team__section">
        <div class="section__title">Команда</div>
        <ul class="team-acco">
            <li class="team-acco__item"><a class="team-acco__trigger" href="#">дэниэл редклифф</a>
                <div class="team-acco__content">
                    <div class="team-acco__pic">
                        <div class="team-acco__img" style="background-image: url('../../web/img/content/teammate.jpg');"></div>
                    </div>
                    <div class="team-acco__text">
                        <div class="team-acco__title">Шеф-повар</div>
                        <div class="team-acco__text-content">С радостью поможет подобрать идеальный бургер и оформить заказ.</div>
                    </div>
                </div>
            </li>
            <li class="team-acco__item"><a class="team-acco__trigger" href="#">ричард джеймс</a>
                <div class="team-acco__content">
                    <div class="team-acco__pic">
                        <div class="team-acco__img" style="background-image: url('../../web/img/content/teammate.jpg');"></div>
                    </div>
                    <div class="team-acco__text">
                        <div class="team-acco__title">Оператор</div>
                        <div class="team-acco__text-content">С радостью поможет подобрать идеальный бургер и оформить заказ.</div>
                    </div>
                </div>
            </li>
            <li class="team-acco__item"><a class="team-acco__trigger" href="#">Джейк Финн</a>
                <div class="team-acco__content">
                    <div class="team-acco__pic">
                        <div class="team-acco__img" style="background-image: url('../../web/img/content/teammate.jpg');"></div>
                    </div>
                    <div class="team-acco__text">
                        <div class="team-acco__title">Менеджер</div>
                        <div class="team-acco__text-content">С радостью поможет подобрать идеальный бургер и оформить заказ.</div>
                    </div>
                </div>
            </li>
            <li class="team-acco__item"><a class="team-acco__trigger" href="#">Николай Иванов</a>
                <div class="team-acco__content">
                    <div class="team-acco__pic">
                        <div class="team-acco__img" style="background-image: url('../../web/img/content/teammate.jpg');"></div>
                    </div>
                    <div class="team-acco__text">
                        <div class="team-acco__title">Шоколатье</div>
                        <div class="team-acco__text-content">С радостью поможет подобрать идеальный бургер и оформить заказ.</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
