<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказ</title>
</head>
<body>
<table width="100%" bgcolor="#EFEFEF" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td>
            <table width="740" align="center" border="0" cellpadding="0" cellspacing="0"
                   style="background: #f9b43b; color: #ffffff;">
                <tbody>
                <tr>
                    <td width="10">&nbsp;</td>
                    <td>
                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td>
                                    <h1 style="color: #e35028">Заказ №{{ order }}</h1>
                                </td>
                            </tr>
                            <tr>
                                <td><h3>Заказ будет доставлен по адресу: {{ address }}</h3></td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td><h3>Ваш заказ: DarkBeefBurger за 500 руб., 1 шт.</h3></td>
                                            <td><img src="https://1.downloader.disk.yandex.ru/disk/520b01768f04f476aa5e7fabee2dc9b89c80d4314072b0a78d79d17fa9f1984e/5a148968/leZBtRFcWI30ErVKqzvPWOPaSgA-Cq_K3UUbZDfrV_BlsHRH0dP2GJ8fIH31DKETasT-czJP9FBOBRV5fzZ9-A%3D%3D?uid=0&filename=1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&fsize=318025&hid=d2c86d5d503c7bd2a756c3910b199deb&media_type=image&tknv=v2&etag=5e500380ad976e0e7c806dd4aef94e92" height="64" alt=""></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </td>
                            </tr>
                            <tr>
                                <td><h3>Спасибо{{ numOrder }}</h3></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="10">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>