<div class="modal fade" id="newGoods"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newGoodsLabel">Add goods</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="newGoods">
                    <input type="hidden" name="_method" value="create">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="add-goods-name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" name="add-goods-name" id="add-goods-name" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="add-goods-category" class="col-form-label">Category:</label>
                                <select class="form-control" name="add-goods-category" id="add-goods-category"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="add-goods-price" class="col-form-label">Price:</label>
                                <input type="text" class="form-control" name="add-goods-price" id="add-goods-price" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="add-goods-discount" class="col-form-label">Discount:</label>
                                <input type="text" class="form-control" name="add-goods-discount" id="add-goods-discount" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-goods-photo" class="col-form-label">Photo:</label>
                        <input type="text" class="form-control" name="add-goods-photo" id="add-goods-photo">
                    </div>
                    <div class="form-group">
                        <label for="add-goods-description" class="col-form-label">Description:</label>
                        <textarea class="form-control" name="add-goods-description" id="add-goods-description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="goodsAddSave">Save changes</button>
            </div>
        </div>
    </div>
</div>

