{% extends "base.html.twig" %}

{% block title %}Site{% endblock %}


{% block content %}
    {% include 'siteNavbar.html.twig' %}
    <div class="row h-100">
        <div class="col-2">
            <div class="bg-primary h-100 d-flex flex-column align-items-center text-white">
                <div id="menu"></div>
            </div>
        </div>
        <div class="col">
            <div class="container" id="container">
                <div class="row" id="content"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="../../../web/js/site.js"></script>
{% endblock %}
